* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-image: url(../assets/Veltrix-homepage-background.png);
    background-repeat: repeat-y;
    background-size:cover;
    width: 100vw;

}


body {
    background: #000;
    color: #fff;
    font-family: system-ui, sans-serif;
    overflow-x: hidden;
}

/* Navigation bar */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.4rem 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
}

.logo {
    height: 100px;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.15rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    opacity: 0.9;
}

.nav-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.8rem;
}

/* Search bar */
.search-container {
    position: fixed;
    top: 90px;
    right: 40px;
    width: 500px;              /* width of search bar */
    display: none;
    background: #111;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #444;
    z-index: 50;
}

.search-bar {
    width: 100%;
    padding: 20px 20px;       /* Search size within the rectangle */
    background: #222;
    border: 1px solid #555;
    color: white;
    border-radius: 6px;
    font-size: 1rem;
}

.search-close {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
    background: #333;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1rem;
}

/* Background */
.contact-bg {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px) brightness(1.4);
    opacity: 0.85;
    z-index: -1;
    pointer-events: none;
}

/* Conatct form */
.contact-container {
    max-width: 600px;
    margin: 180px auto 80px;
    text-align: center;
}

.contact-container h1 {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

.contact-container p {
    color: #ccc;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.9rem;
    border-radius: 12px;
    border: none;
    background: #1c1c1c;
    color: #fff;
}

form textarea {
    height: 150px; 
    resize: none; 
}

.submit-btn {
    background: linear-gradient(90deg, #ff00a8, #6c5cff, #2ecbff);
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    color: #fff;
}

#statusMsg {
    margin-top: 1.5rem;
    font-size: 1.2rem;
}
