.site-footer {
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: white;
    background: rgb(0, 0, 0);
    padding-top: 30px;
    
}

.site-footer a {
    text-decoration: none;
    color: white;
}

.main-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.site-footer h3 {
    color: orange;
    margin-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

.footer-content p {
    color: white;
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-content ul {
    text-align: center;
}

.footer-list li {
    color: white;
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:100%;
    width: 0%;
    height:2px;
    background: rgb(245, 136, 20);
    transition-duration: 0.5s;
}

.footer-list li:hover::before {
    width: 70px;
}

.footer-social-icons {
    text-align: center;
    padding: 0;
}

.footer-social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.footer-social-icons i {
    color: white;
    font-size: 25px;
}

.site-footer a {
    text-decoration: none;
}

.site-footer a:hover {
    color: rgb(255, 162, 0);
}

.footer-social-icons i:hover {
    color: rgb(255, 157, 0);
}

.footer-bottom-bar {
    background: rgb(56, 43, 195);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-bottom-bar p {
    color: rgb(229, 198, 198);
    margin: 0;
    font-size: 20px;
    padding: 7px;
}

.footer-bottom-bar {
    background: linear-gradient(
        90deg, /*this is the gradient direction from left to right */
        /*270deg if want right to left */
        rgb(209, 12, 12), rgb(153, 108, 24), rgb(219, 219, 60), rgb(3, 131, 3), rgb(14, 14, 237), rgb(60, 5, 100), rgb(240, 125, 240)
    );
    background-size: 1500% 1400%; /*big gradient */
    /* can change the speed of the rainbow based on its seconds */
    animation: footer-bottom-bar-rainbow 17s linear infinite;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

/*animation for the footer itself */
@keyframes footer-bottom-bar-rainbow {
    0%{background-position: 0% 50%;} /*start from left */
    50% {background-position:100% 50%; } /*right */
    100%{background-position: 0% 50%; } /* back to start */
}