.site-footer {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
    color: white;
    background: rgb(0, 0, 0);
    padding-top: 30px;
    
}

.site-footer a {
    text-decoration: none;
    color: white;
}

.main-container {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content {
    flex: 1;
    min-width: 250px;
    padding: 20px;
}

.site-footer h3 {
    color: #ffa825;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}

.footer-content p {
    color: white;
    width: 190px;
    margin: auto;
    padding: 7px;
}

.footer-contact-label {
    color: #888;
}

.footer-contact-value {
    color: white;
}

.footer-content ul {
    text-align: center;
}

.footer-list li {
    color: white;
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top:100%;
    width: 0%;
    height:2px;
    background: rgb(245, 136, 20);
    transition-duration: 0.5s;
}

.footer-list li:hover::before {
    width: 70px;
}

.footer-social-icons {
    text-align: center;
    padding: 0;
}

.footer-social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.footer-social-icons i {
    color: white;
    font-size: 25px;
}

.site-footer a {
    text-decoration: none;
}

.site-footer a:hover {
    color: #ffa825;
}

.footer-social-icons i:hover {
    color: #ffa825;
}

.footer-bottom-bar {
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer-bottom-bar p {
    color: rgb(229, 198, 198);
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    padding: 7px;
}

.footer-bottom-bar {
    background: linear-gradient(
        90deg,
        #ff00a8,
        #ff5ebd,
        #a800ff,
        #0022ff,
        #00eaff
    );
    background-size: 1500% 1400%; /*big gradient */
    /* can change the speed of the rainbow based on its seconds */
    animation: footer-bottom-bar-rainbow 17s linear infinite;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

/*animation for the footer itself */
@keyframes footer-bottom-bar-rainbow {
    0%{background-position: 0% 50%;} /*start from left */
    50% {background-position:100% 50%; } /*right */
    100%{background-position: 0% 50%; } /* back to start */
}
