/*import the google font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/bg2.png') no-repeat;
    image-rendering: pixelated;
    background-size: cover;
    background-position: center;
    
}


/*Login Box at the center */
.login-box {
    width: 450px;
    height: 80%;
    margin-top: 8%;
    background: transparent;
    border: 2px solid rgba(154, 154, 154, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 20px;
    padding: 30px 40px;
}

.login-box h1 {
    font-size: 35px;
    text-align: center;
}

.login-box .input-box {
    position: relative; 
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   outline: none;
   border: 2px solid rgb(69, 96, 106);
   border-radius: 40px;
   font-size: 16px;
   color: white;
   padding: 20px 45px 20px 20px; /*position username & pass*/
}

.input-box input::placeholder { /*colour change for placeholders (user&pass) */
    color: rgb(255, 255, 255);
}

/*icons position */
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.login-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot a {
    text-decoration: none;
    color: white;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

/*shape of login button */
.login-box .login-button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(59, 59, 59);
    font-weight: 600;
}

.login-box .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.remember-forgot label {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 6px;
}

.remember-forgot input[type="checkbox"] {
    accent-color: #ffffff;
    cursor: pointer;
}




