


#product_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10vh;
  width: 65%;
  height: 70%;
  border: black 1px solid;
}

#product_carousal{
  height: 40%;
  
}

#main_image{
  width: 90%;
  height: 90%;
  border-radius: 60px;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
}



#product_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 35%;
  height: 100%;
  border: black 1px solid;
}

.product_name {
  font-size:2.5vw;
  font-weight: bold;
  margin-bottom: 0%;
}

.product_price {
  font-size:4vw;
  font-weight: bold;
}

sub{
  opacity: 0.6;
}

button {
  width: 70%;
  height: 8%;
  border: white 1px solid;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
  color: white;
  font-size: large;
  cursor: pointer;

  margin-bottom: 10%;
}




#side_images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  width: 100%;
  height: 15%;
  border: black 1px solid;
}

#side_images img {
  width: 20%;
  height: 100%;
  border: white 1px solid;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
}

#product_carousal {
  width: 63%;
  height: 100%;
  border: black 1px solid;
}

body{
  color: white;
  background-color: black;
  overflow-x: hidden;
}


#reviews{
  height:80%;
  width: 25%;
  background-color:rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  border-radius: 40px;
  align-self: center;
}

main{
  width: 100vw;
  border:black 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;

}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  animation: fadeVideo 19.5s ease-in-out infinite;
}

@keyframes fadeVideo {
  0%   { opacity: 0; }
  10%  { opacity: 1; }  
  90%  { opacity: 1; } 
  100% { opacity: 0; }  
}

