


#product_display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10vh;
  width: 65%;
  height: 70%;
  border: black 1px solid;
}

#product_carousal{
  height: 40%;
  
}

#main_image{
  width: 90%;
  height: 90%;
  border-radius: 60px;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
}



#product_info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 35%;
  height: 100%;
  border: black 1px solid;
}

.product_name {
  font-size:2.5vw;
  font-weight: bold;
  margin-bottom: 0%;
}

.product_price {
  font-size:4vw;
  font-weight: bold;
}

sub{
  opacity: 0.6;
}

button {
  width: 70%;
  height: 8%;
  border: white 1px solid;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
  color: white;
  font-size: large;
  cursor: pointer;

  margin-bottom: 10%;
}




#side_images {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
  width: 100%;
  height: 15%;
  border: black 1px solid;
}

#side_images img {
  width: 20%;
  height: 100%;
  border: white 1px solid;
  background-color:rgb(0,0,70,0.3);
  backdrop-filter: blur(15px);
}

#product_carousal {
  width: 63%;
  height: 100%;
  border: black 1px solid;
}

body{
  color: white;
  background-color: black;
  overflow-x: hidden;
}

/* reviews */
#reviews{
  height:80%;
  width: 25%;
  background-color:rgba(0,0,0);
  padding: 2%;

  backdrop-filter: blur(15px);
  border-radius: 40px;
  align-self: center;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;

  filter: drop-shadow(30px 10x 4px #ecf0f3);

}

#reviews_container{
  height: 60%;
  overflow: scroll;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  scrollbar-width:none;
}

#average_rating_value{
  font-size: 5vw;
}

#average_rating{
    font-family:'Times New Roman', Times, serif;
    width: 40%;


}

#review_form{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  gap: 1vh;
  margin-top: 2vh;
  display: none;

}
.userinput, 
.usernameinput, 
.ratinginput{
  padding: 2%;
  border-radius: 10px;
  border: 1px solid gray;
}
.userinput{
  height: 6vh;
  width: 90%;
}

.ratinginput{
  width: 20%;
}

.usernameinput{
  width: 60%;
}

.review{
  background-color:#050036;
  border-radius: 30px;
  padding: 2%;
  margin-top: 6%;
filter: drop-shadow(6px 5px 4px orange);}

.review_name{
  color: orange;
}





main{
  width: 100vw;
  border:black 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;

}

video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
  animation: fadeVideo 19.5s ease-in-out infinite;
}

@keyframes fadeVideo {
  0%   { opacity: 0; }
  10%  { opacity: 1; }  
  90%  { opacity: 1; } 
  100% { opacity: 0; }  
}

