@import url(https://fonts.googleapis.com/css?family=Pixelify+Sans:regular,500,600,700);


header{
    width: 100%;
    height: 15vh;
    z-index: 10;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    position: fixed;
    top:0%;
    background-color: rgba(inherit, 0.4);
    backdrop-filter: blur(20px);

}

body{
    font-family: pixelify sans;
}

main{
    position: absolute;
    top: 15%;
    width: 100%;
}


/* header */
nav,
#icons,
#header_logo{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 40%;
}

#icons{
    width: 25%;
    
}
#header_logo{
    width: 20%;
    margin: 5% ;
}

svg:hover{
    cursor:pointer;
}

a{
    color: white;
}

nav>a{
  font-size: clamp(1rem, 1.5vw, 1.4rem);
}

/* Search bar */
#search{
  position: fixed;
  top: 90px;
  right: 40px;
  width: 500px;              /* width of search bar */
  display: none;
  background: #111;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #444;
  z-index: 500;
}

#search-bar {
  width: 100%;
  padding: 20px 20px;       /* Search size within the rectangle */
  background: #222;
  border: 1px solid #555;
  color: white;
  border-radius: 6px;
  font-size: 1rem;
}

#search-close {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
  background: #333;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
}


                                            /* Hidden Content,Dynamic? */
/* Basket */


#basket,
#menu{
  backdrop-filter: blur(3px);
  cursor: pointer;
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 100;
    

}

#basket_main{
    width: 0em;
    height: 100%;
    position: fixed;
    right: 0%;
    background-color: white;
    z-index: 102;


}

#menu_main{
    width: 0em;
    height: 100%;
    position: fixed;
    left: 0%;
    background-color: white;
        z-index: 102;

}


#menu_nav{
    display: none;
}

                                                  /* Media Query */


@media (max-width:800px) {

  #Basket_Display,
#Menu_Display{
    display:none;
    width: 80vw;
    height: 100vh;
    position: fixed;
       
    backdrop-filter: blur(3px);
    z-index: 10;

}

#basket_main{
    width: 0em;
    height: 100%;
    position: inherit;
    right: 0%;
    background-color: white;
}

#menu_main{
     width: 0em;
    height: 100%;
    position: inherit;
    left: 0%;
    background-color: white;
    overflow: hidden;

}


nav{
    display: none;
}
#menu_nav{
    display: block;
}


}

